<div class="h-100 d-flex align-items-center">
  <div class="side-logo">
    <h1>ChatAPP</h1>
    <p>
      This is a simple chat app using technologies;
      <ul>
        <li>node.js</li>
        <li>express.js</li>
        <li>socket.io</li>
        <li>redis</li>
      </ul>
      to cover requirements of given task.
    </p>
  </div>
</div>   